{% extends "_base.html" %}

{% block title %}Earthlist{% endblock title %}

{% block content %}
<div class="container">

    <ul>
        {% for todoitem in todoitem_list %}
        <li class="box">
            <p>
            <strong>{{ todoitem.title }}</strong>
            Commits: {{ todoitem.commits }} 
            Done: {{ todoitem.done }}
            Rank : {{ todoitem.get_rank }}
            {% if user.is_authenticated %}
            <button class="button is-info">Commit</button>
            <button class="button is-success">Done</button>
            {% endif %}
            </p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
